<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<h1>Hello, world!</h1>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<main class="container">
    <div class="row">
        <div class="col-12">
            <h1>Museos de Londres y sus precios</h1>

            <div class="row">
                <div class="col-8">

                    <table class="table table-hover">
                        <caption>Museos en londres</caption>
                        <thead class="thead-default">
                        <tr>
                            <th>Museo</th>
                            <th>Precio</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>British Museum</td>
                            <td>Gratis</td>
                        </tr>
                        <tr>
                            <td>Design Museum</td>
                            <td>£13</td>
                        </tr>
                        <tr>
                            <td>Imperial War Museum</td>
                            <td>Gratis</td>
                        </tr>
                        <tr>
                            <td>London Transport Museum</td>
                            <td>£17</td>
                        </tr>
                        <tr>
                            <td>Museum of London</td>
                            <td>Gratis</td>
                        </tr>
                        <tr>
                            <td>Natural History Museum</td>
                            <td>Gratis</td>
                        </tr>
                        <tr>
                            <td>Royal Museums Greenwich</td>
                            <td>Gratis</td>
                        </tr>
                        <tr>
                            <td>Science Museum</td>
                            <td>Gratis</td>
                        </tr>
                        <tr>
                            <td>Victoria and Albert Museum</td>
                            <td>Gratis</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</main>
</body>
</html>