<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ejemplo formularios</title>

    <link href="style.css" rel="stylesheet">
    <!-- agegar icono en la pestaña-->
    <link rel="icon" href="ic4.png">

</head>
<body>
    <!-- ETIQUETA PARA FORMULARIOS -->
    <h3>Formulario</h3>
    <form>
        <label for="texto">Nombre </label>
        <input id="texto" type="text" placeholder="digite su nombre" value="" required>
        <br>
        <br>
        <label for="correo">Correo</label>
        <input id="correo" type="email" placeholder="digite su correo" value="" required>
        <br>
        <br>
        <label for="pass">Pass</label>
        <input id="pass" type="password" placeholder="digite su password" value="" required>
        <br>
        <br>
        <label for="pais">Pais</label>
        <br>
        <select>
            <option>Colombia </option>
            <option>Argentina</option>
            <option>Alemania</option>
            <option>Brasil</option>
            <option>Peru</option>
            <option>Chile</option>
        </select>
        <br>
        <br>
        <label for="Conocimiento">Conocimientos</label><br>
        <input type="checkbox" id="Lengueje"><label for="Lengueje">Java</label><br/>
        <input type="checkbox" id="Lengueje"><label for="Lengueje">php</label><br/>
        <input type="checkbox" id="Lengueje"><label for="Lenguaje">plsql</label><br/>
        <input type="checkbox" id="Lengueje"><label for="Lenguaje">Python</label><br/>
        <input type="checkbox" id="Lengueje"><label for="Lenguaje">PostgreSQL</label><br/>
        <br>
        <br>
        <label for="Genero">Genero</label><br>
        <input type="radio" id="blanco" name="genero" checked><label for="blanco">Femenino</label><br>
        <input type="radio" id="negro" name="genero"><label for="negro">Masculino</label>
        <br>
        <br>
        <input type="submit" value="Enviar Formulario">
        <input type="reset" value="Limpiar Formulario">
    </form>
</body>
</html>