<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario MVC</title>
    <link href="style.css" rel="stylesheet">
    <link rel="icon" href="ic4.png">

</head>
<body>
<!-- ETIQUETA PARA FORMULARIOS -->
<h3>Formulario</h3>
<form>
    <label for="texto">Nombre </label>
    <input id="texto" type="text" placeholder="digite su nombre" value="" required>
    <br>
    <br>
</form>
<label for="correo">Correo</label>
<input id="correo" type="email" placeholder="digite su correo" value="" required>
<br>
<br>
<label for="pass">Pass</label>
<input id="pass" type="password" placeholder="digite su password" value="" required>
<br>
<br>
<label for="pais">Pais</label>
<br>
<select>
    <option>Colombia </option><option>Argentina</option><option>Alemania</option><option>Brasil</option><option>Canada</option><option>Ecuador</option>
</select>
<br>
<br>
<input type="checkbox" id="Lengueje"><label for="Lengueje">Java</label>
<input type="checkbox" id="Lengueje"><label for="Lengueje">php</label>
<input type="checkbox" id="Lengueje"><label for="Lenguaje">plsql</label>
<br>
<br>
<label for="Genero">Genero</label>
<input type="radio" id="blanco" name="genero" checked><label for="blanco">Femenino</label>
<input type="radio" id="negro" name="genero"><label for="negro">Masculino</label>
<br>
<br>
<input type="submit" value="Enviar Formulario">
<input type="reset" value="Limpiar Formulario">

</body>
</html>