<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Ejemplo formularios</title>

  <link href="style.css" rel="stylesheet">
  <!-- agegar icono en la pestaña-->
  <link rel="icon" href="ic4.png">

</head>
<body>


<nav id="menu">
  <ul>
    <li>
      <img src="logotipo.jpg" alt="Logotipo" class="logotipo">
    </li>
    <li class="botones">Ingresos y egresos</li>
    <li class="botones">Usuarios</li>
    <li class="botones">Empresas</li>
  </ul>
</nav>
<div>
  <aside class="derecha">Sistema de gestion de ingresos y gastos</aside>
  <aside class="centro">Sistemas de gestion de usuarios</aside>
  <aside class="izq">Sistema de gestion de empresas</aside>
</div>

</body>
</html>