<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo MVC</title>
</head>
<body>
  <h1>Inicio</h1>
        <!-- esto es un condicional if -->
  <div th:if="${personas != null and !personas.empty}">
      <table border="1">
          <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Email</th>
              <th>Telefono</th>
          </tr>
          <!-- eash es un ciclo -->
          <tr th:each="persona: ${personas}">
              <td th:text="${persona.nombre}"> </td> <br/>
              <td th:text="${persona.apellido}"> </td> <br/>
              <td th:text="${persona.email}"> </td> <br/>
              <td th:text="${persona.telefono}"> </td> <br/>
          </tr>
      </table></div>
  <div th:if="${personas == null or personas.empty}">la lista de personas esta vacia</div>
</body>
</html>