<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario Ingreso-Egreso</title>

    <link rel="stylesheet" href="style.css">
    <!-- Agregar ícono en la pestaña -->
    <link rel="icon" href="ic4.png">

</head>
<body>
<div>
    <nav id="caja1">
        <div id="top">
            <ul>
                <lo>
                    <img src="proyecto.png" width="100">
                </lo>
            </ul>
        </div>
        <center>
            <a><p class="caja2">Ingresos y egresos</p></a>
            <a><p class="caja2">Usuarios</p></a>
            <a ><p class="caja2">Empresas</p></a>
        </center>
    </nav>

    <p id="caja4">
        Sistema  de gestion de Ingresos y Gastos
    </p>
    <nav id="caja7">

    </nav>

    <nav id="caja5">
        <aside id="der">
            <h4>Ingresos y Egresos</h4>

        </aside>
    </nav>

    <span id="caja6">
		<aside id="der">
		<aside id="dor">

		<input type="submit" value="Nuevo">

		</aside>
		</aside>
	</span>

    <span id="caja8">
	<div id="caja7">
	Concepto
	</div>
	<span id="caja7"></span>
	<div id="caja7">
	Monto
	</div>
	<span id="caja7"></span>
	<div id="caja7">
	Fecha
	</div>
	<span id="caja7"></span>
		<div id="caja7">
			Usuario
		</div>
	</span>

    <span id="caja3"></span>
    <span id="caja3"></span>
    <span id="caja3"></span>
    <span id="caja3"></span>
    <span id="caja3"></span>
    <span id="caja3"></span>
    <span id="caja3"></span>
    <span id="caja3"></span>
</div>


</body>
</html>